@charset "UTF-8";
/* line 11, ../sass/index.scss */
.clearfix {
  *zoom: 1;
}

/* line 17, ../sass/index.scss */
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 27, ../sass/index.scss */
.left {
  float: left;
}

/* line 31, ../sass/index.scss */
.right {
  float: right;
}

/* line 34, ../sass/index.scss */
html, body {
  position: relative;
  height: 100%;
  background: #000;
}

/* line 40, ../sass/index.scss */
body {
  background: #eee;
  font-family: "Microsoft YaHei", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  /* line 49, ../sass/index.scss */
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 360px) {
  /* line 55, ../sass/index.scss */
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 400px) {
  /* line 61, ../sass/index.scss */
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 440px) {
  /* line 67, ../sass/index.scss */
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 480px) {
  /* line 73, ../sass/index.scss */
  html {
    font-size: 22px;
  }
}
@media screen and (min-width: 640px) {
  /* line 79, ../sass/index.scss */
  html {
    font-size: 28px;
  }
}
/* line 84, ../sass/index.scss */
.swiper-container {
  width: 100%;
  height: 100%;
}

/* line 89, ../sass/index.scss */
.swiper-slide {
  background: #fff;
  color: #fff;
}

/* line 95, ../sass/index.scss */
.swiper-one-h {
  background: url("../images/first_bg.jpg") no-repeat 50%;
  background-size: cover;
}

/* line 114, ../sass/index.scss */
.swiper-one-h .title {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

/* line 121, ../sass/index.scss */
.slogan {
  position: relative;
}
/* line 123, ../sass/index.scss */
.slogan .sentence {
  width: 16.78571rem;
  height: 1.42857rem;
  margin: 0 auto;
  position: absolute;
  top: 5.71429rem;
  left: 50%;
  margin-left: -8.39286rem;
}
/* line 131, ../sass/index.scss */
.slogan .sentence img {
  width: 100%;
}
/* line 135, ../sass/index.scss */
.slogan .triangle {
  width: 12.42857rem;
  height: 10.92857rem;
  margin: 0 auto;
}
/* line 139, ../sass/index.scss */
.slogan .triangle img {
  width: 100%;
}

/* line 145, ../sass/index.scss */
.wrap-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* line 154, ../sass/index.scss */
.ad_txt {
  width: 100%;
  text-align: center;
  padding-bottom: 1.78571rem;
  margin: 0 auto;
  font-size: 1rem;
}
/* line 160, ../sass/index.scss */
.ad_txt img {
  width: 100%;
}

/* line 165, ../sass/index.scss */
.business {
  font-size: 0.85rem;
  text-align: center;
  padding-top: 3.57143rem;
}

/* line 171, ../sass/index.scss */
.header {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  padding: 0.71429rem 10px;
}

/* line 179, ../sass/index.scss */
.arrowbox {
  display: none;
}

/* line 2, ../sass/_business.scss */
.service {
  background: url("../images/service_bg.jpg") no-repeat 50%;
  background-size: cover;
}

/* line 6, ../sass/_business.scss */
.service .box {
  position: relative;
  padding-top: 5.35714rem;
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -ms-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
  margin: 0 !important;
}
/* line 15, ../sass/_business.scss */
.service .box .caption {
  padding-bottom: 1.07143rem;
}

/* line 21, ../sass/_business.scss */
.caption {
  width: 100%;
  text-align: center;
  -moz-opacity: 0;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out 0s;
  -moz-transition: all .5s ease-in-out 0s;
  -ms-transition: all .5s ease-in-out 0s;
  -o-transition: all .5s ease-in-out 0s;
  transition: all .5s ease-in-out 0s;
}

/* line 33, ../sass/_business.scss */
.service.active .box .caption {
  -moz-opacity: 1;
  opacity: 1;
}

/* line 38, ../sass/_business.scss */
.caption i {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 320px;
  height: 31px;
  background: url(../images/words.png) no-repeat 0px -294px;
}

/* line 47, ../sass/_business.scss */
.caption span {
  font-size: 24px;
  letter-spacing: 3px;
}

/* line 52, ../sass/_business.scss */
ul.items {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

/* line 58, ../sass/_business.scss */
ul.items li {
  width: 200px;
  height: 300px;
  margin: 0 8px;
  background: url(../images/bg_green.png) no-repeat 0px 400px;
  overflow: hidden;
}

/* line 66, ../sass/_business.scss */
ul.items li i {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 43px;
  height: 69px;
}

/* line 74, ../sass/_business.scss */
ul.items li.pc i {
  width: 69px;
  background: url(../images/words.png) no-repeat -245px -357px;
}

/* line 79, ../sass/_business.scss */
ul.items li.mobi i {
  width: 64px;
  background: url(../images/words.png) no-repeat -416px -291px;
}

/* line 84, ../sass/_business.scss */
ul.items li.sys i {
  width: 76px;
  background: url(../images/words.png) no-repeat -415px -362px;
}

/* line 89, ../sass/_business.scss */
ul.items li.app i {
  width: 74px;
  background: url(../images/words.png) no-repeat -244px -439px;
}

/* line 94, ../sass/_business.scss */
ul.items li.host i {
  width: 79px;
  background: url(../images/words.png) no-repeat -420px -439px;
}

/* line 99, ../sass/_business.scss */
ul.items li u {
  display: block;
  position: absolute;
  width: 156px;
  height: 156px;
  margin-left: 22px;
  background: url(../images/words.png) no-repeat 0px -363px;
  -webkit-transition: all .5s ease-in-out 0s;
  -moz-transition: all .5s ease-in-out 0s;
  -ms-transition: all .5s ease-in-out 0s;
  -o-transition: all .5s ease-in-out 0s;
  transition: all .5s ease-in-out 0s;
}

/* line 113, ../sass/_business.scss */
.service .box ul.items li u.cl {
  clip: rect(0px, 156px, -10px, 78px);
}

/* line 117, ../sass/_business.scss */
.service.active .box ul.items li u.cl {
  clip: rect(0px, 156px, 156px, 78px);
}

/* line 121, ../sass/_business.scss */
.service .box ul.items li u.cr {
  clip: rect(156px, 78px, 156px, 0px);
}

/* line 125, ../sass/_business.scss */
.service.active .box ul.items li u.cr {
  clip: rect(0px, 78px, 156px, 0px);
}

/* line 129, ../sass/_business.scss */
.service .box ul.items li strong {
  display: block;
  margin-top: 70px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

/* line 137, ../sass/_business.scss */
.service .box ul.items li p {
  position: relative;
  top: 200px;
  color: White;
  font-family: Arial,"宋体";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

/* line 147, ../sass/_business.scss */
.service .box ul.items li:hover {
  background-position: 0px 0px;
  -webkit-transition: all .5s ease-in-out .3s;
  -moz-transition: all .5s ease-in-out .3s;
  -ms-transition: all .5s ease-in-out .3s;
  -o-transition: all .5s ease-in-out .3s;
  transition: all .5s ease-in-out .3s;
}

/* line 156, ../sass/_business.scss */
.service .box ul.items li:hover i {
  -webkit-transition: all .5s ease-in-out .4s;
  -moz-transition: all .5s ease-in-out .4s;
  -ms-transition: all .5s ease-in-out .4s;
  -o-transition: all .5s ease-in-out .4s;
  transition: all .5s ease-in-out .4s;
}

/* line 164, ../sass/_business.scss */
.service .box ul.items li.pc:hover i {
  background: url(../images/words.png) no-repeat -168px -357px;
}

/* line 168, ../sass/_business.scss */
.service .box ul.items li.mobi:hover i {
  background: url(../images/words.png) no-repeat -337px -291px;
}

/* line 172, ../sass/_business.scss */
.service .box ul.items li.sys:hover i {
  background: url(../images/words.png) no-repeat -327px -362px;
}

/* line 176, ../sass/_business.scss */
.service .box ul.items li.app:hover i {
  background: url(../images/words.png) no-repeat -164px -439px;
}

/* line 180, ../sass/_business.scss */
.service .box ul.items li.host:hover i {
  background: url(../images/words.png) no-repeat -335px -439px;
}

/* line 184, ../sass/_business.scss */
.service .box ul.items li:hover u.cl {
  clip: rect(0px, 156px, -10px, 78px);
}

/* line 188, ../sass/_business.scss */
.service .box ul.items li:hover u.cr {
  clip: rect(156px, 78px, 156px, 0px);
}

/* line 192, ../sass/_business.scss */
.service .box ul.items li:hover strong {
  color: White;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -ms-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

/* line 201, ../sass/_business.scss */
.service .box ul.items li:hover p {
  top: 20px;
  -webkit-transition: all .3s ease-in-out .5s;
  -moz-transition: all .3s ease-in-out .5s;
  -ms-transition: all .3s ease-in-out .5s;
  -o-transition: all .3s ease-in-out .5s;
  transition: all .3s ease-in-out .5s;
}

/* line 210, ../sass/_business.scss */
.service .box label {
  display: block;
  margin: 0 auto;
  margin-top: -40px;
  width: 297px;
  height: 21px;
  background: url(../images/words.png) no-repeat 0px -333px;
}

@media (min-width: 1921px), (min-height: 1201px) {
  /* line 221, ../sass/_business.scss */
  .service {
    -moz-background-size: cover;
    background-size: cover;
  }
}
@media (min-height: 1201px) {
  /* line 228, ../sass/_business.scss */
  .service .box {
    margin-top: -70px;
  }
}
@media (min-width: 1151px) and (max-height: 700px) {
  /* line 234, ../sass/_business.scss */
  .box .caption i {
    display: none;
  }

  /* line 238, ../sass/_business.scss */
  .service .box ul.items {
    margin-top: 50px;
  }
}
@media (min-width: 1151px) and (max-height: 630px) {
  /* line 244, ../sass/_business.scss */
  .service .box {
    margin-top: 0px;
  }
}
@media (max-width: 1150px) {
  /* line 250, ../sass/_business.scss */
  .service .box ul.items {
    margin-top: 40px;
  }

  /* line 254, ../sass/_business.scss */
  .service .box ul.items li {
    width: 170px;
    height: 270px;
    margin: 0px;
  }

  /* line 260, ../sass/_business.scss */
  .service .box ul.items li u {
    background: none;
    display: none;
  }

  /* line 265, ../sass/_business.scss */
  .service .box ul.items li strong {
    margin-top: 40px;
  }

  /* line 269, ../sass/_business.scss */
  .service .box ul.items li:hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
}
@media (max-width: 1150px) and (max-height: 680px) {
  /* line 279, ../sass/_business.scss */
  .box .caption i {
    display: none;
  }

  /* line 283, ../sass/_business.scss */
  .service .box ul.items {
    margin-top: 10px;
  }
}
@media (max-width: 1150px) and (max-height: 580px) {
  /* line 289, ../sass/_business.scss */
  .service .box {
    margin-top: 0px;
  }
}
@media (max-width: 1000px) {
  /* line 295, ../sass/_business.scss */
  .service .box {
    margin-top: -55px;
  }

  /* line 299, ../sass/_business.scss */
  .service .box ul.items li {
    width: 270px;
    height: 80px;
    margin: 30px 0 0 21px;
    padding: 10px 0 5px 15px;
  }

  /* line 306, ../sass/_business.scss */
  .service .box ul.items li i {
    margin-top: 0px;
    float: left;
  }

  /* line 311, ../sass/_business.scss */
  .service .box ul.items li strong {
    float: left;
    margin: 5px 0 0 20px;
  }

  /* line 316, ../sass/_business.scss */
  .service .box ul.items li p {
    float: left;
    margin: 5px 0 0 20px;
    color: #888;
    text-align: inherit;
  }

  /* line 323, ../sass/_business.scss */
  .service .box ul.items li:hover p {
    margin: 5px 0 0 20px;
    color: White;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
  }

  /* line 333, ../sass/_business.scss */
  .service .box label {
    margin-top: 50px;
  }
}
/* line 1, ../sass/_case.scss */
.case {
  background: url("../images/case_bg.jpg") no-repeat 50%;
  background-size: cover;
}
/* line 4, ../sass/_case.scss */
.case .box {
  height: 100%;
  padding-top: 5.35714rem;
}
/* line 7, ../sass/_case.scss */
.case .box .caption {
  margin-bottom: 1.78571rem;
}
/* line 9, ../sass/_case.scss */
.case .box .caption i {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 129px;
  height: 37px;
  background: url(../images/words.png) no-repeat 0px -528px;
}

/* line 21, ../sass/_case.scss */
.swiper-case {
  position: relative;
  height: 260px;
}
/* line 25, ../sass/_case.scss */
.swiper-case .case-item {
  width: 260px;
  height: 260px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -130px;
}
/* line 34, ../sass/_case.scss */
.swiper-case .swiper-slide {
  height: 260px;
  position: relative;
  color: #000000;
  background: none;
}

/* line 1, ../sass/_items.scss */
.quality {
  background: url("../images/quality_bg.jpg") no-repeat 50%;
  background-size: cover;
}
/* line 4, ../sass/_items.scss */
.quality .box {
  height: 100%;
  padding-top: 5.35714rem;
}
/* line 7, ../sass/_items.scss */
.quality .box .caption {
  margin-bottom: 1.07143rem;
}
/* line 9, ../sass/_items.scss */
.quality .box .caption i {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 240px;
  height: 37px;
  background: url(../images/words.png) no-repeat 0px -576px;
}

/* line 21, ../sass/_items.scss */
.swiper-items {
  position: relative;
  margin: 0 auto;
  margin-top: 4.28571rem;
  width: 100%;
  height: 260px;
}
/* line 28, ../sass/_items.scss */
.swiper-items .swiper-slide {
  position: relative;
  color: #000000;
  background: none;
  width: 240px;
  margin: 0 auto;
  text-align: center;
}
/* line 35, ../sass/_items.scss */
.swiper-items .swiper-slide p {
  color: #e1e1e1;
  text-align: center;
  line-height: 36px;
}
/* line 40, ../sass/_items.scss */
.swiper-items .swiper-slide ul {
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  padding: 0;
}
/* line 45, ../sass/_items.scss */
.swiper-items .swiper-slide ul li {
  position: relative;
  margin: 0 15px;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}
/* line 51, ../sass/_items.scss */
.swiper-items .swiper-slide ul li span {
  position: absolute;
  top: 30px;
}
/* line 56, ../sass/_items.scss */
.swiper-items .swiper-slide ul li.mobi {
  width: 14px;
  height: 27px;
  background: url(../images/icons.png) no-repeat 0px -264px;
}
/* line 61, ../sass/_items.scss */
.swiper-items .swiper-slide ul li.pad {
  width: 29px;
  height: 23px;
  background: url(../images/icons.png) no-repeat -71px -264px;
}
/* line 66, ../sass/_items.scss */
.swiper-items .swiper-slide ul li.pc {
  width: 35px;
  height: 27px;
  background: url(../images/icons.png) no-repeat 0px -303px;
}
/* line 71, ../sass/_items.scss */
.swiper-items .swiper-slide ul li.windows {
  width: 27px;
  height: 27px;
  background: url(../images/icons.png) no-repeat -73px -304px;
}
/* line 76, ../sass/_items.scss */
.swiper-items .swiper-slide ul li.ios {
  width: 24px;
  height: 30px;
  background: url(../images/icons.png) no-repeat 0px -344px;
}
/* line 81, ../sass/_items.scss */
.swiper-items .swiper-slide ul li.andriod {
  width: 28px;
  height: 29px;
  background: url(../images/icons.png) no-repeat -72px -345px;
}
/* line 86, ../sass/_items.scss */
.swiper-items .swiper-slide ul li.ie {
  width: 28px;
  height: 28px;
  background: url(../images/icons.png) no-repeat 0px -392px;
}
/* line 91, ../sass/_items.scss */
.swiper-items .swiper-slide ul li.chrome {
  width: 30px;
  height: 30px;
  background: url(../images/icons.png) no-repeat -71px -392px;
}
/* line 96, ../sass/_items.scss */
.swiper-items .swiper-slide ul li.firefox {
  width: 32px;
  height: 30px;
  background: url(../images/icons.png) no-repeat 0px -432px;
}
/* line 101, ../sass/_items.scss */
.swiper-items .swiper-slide ul li.safari {
  width: 30px;
  height: 32px;
  background: url(../images/icons.png) no-repeat -71px -432px;
}

/* line 1, ../sass/_contact.scss */
.contact {
  background: url("../images/linaxi.jpg") no-repeat 50%;
  background-size: cover;
}
/* line 4, ../sass/_contact.scss */
.contact .box {
  position: relative;
  margin: 0 auto;
  width: 860px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -ms-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}
/* line 20, ../sass/_contact.scss */
.contact .above {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  -webkit-transition: all .6s ease-in-out 0s;
  -moz-transition: all .6s ease-in-out 0s;
  -ms-transition: all .6s ease-in-out 0s;
  -o-transition: all .6s ease-in-out 0s;
  transition: all .6s ease-in-out 0s;
}
/* line 30, ../sass/_contact.scss */
.contact .above .wechat {
  float: left;
}
/* line 34, ../sass/_contact.scss */
.contact .above .left {
  float: left;
  margin: -12px 0px 0px 70px;
}
/* line 39, ../sass/_contact.scss */
.contact .above .left a.tel {
  display: block;
  margin: 10px 0px 15px 0px;
  width: 243px;
  height: 37px;
  text-decoration: none;
  color: #2fd0b5;
  font-size: 30px;
}
/* line 49, ../sass/_contact.scss */
.contact .above .left p {
  margin-top: 8px;
  color: #666;
  line-height: 26px;
}
/* line 55, ../sass/_contact.scss */
.contact .above .left a {
  color: #666;
  text-decoration: none;
}
/* line 60, ../sass/_contact.scss */
.contact .above .left p u {
  margin: 0 5px;
  text-decoration: none;
}
/* line 65, ../sass/_contact.scss */
.contact .above .left p a.job {
  margin-left: 20px;
  color: #d00000;
  font-weight: bold;
}
/* line 71, ../sass/_contact.scss */
.contact .above .left p a.job:hover {
  border-bottom: 1px solid #d00000;
}
/* line 75, ../sass/_contact.scss */
.contact .above .right {
  float: right;
  margin-top: -3px;
  color: #666;
  line-height: 32px;
}
/* line 82, ../sass/_contact.scss */
.contact .above .right u {
  margin: 0 5px;
  text-decoration: none;
}
/* line 89, ../sass/_contact.scss */
.contact .below {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-top: 2px dotted #ccc;
}
/* line 97, ../sass/_contact.scss */
.contact .below i {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 424px;
  height: 86px;
  background: url(../images/words.png) no-repeat 0px -787px;
  -webkit-transition: all .6s ease-in-out 0s;
  -moz-transition: all .6s ease-in-out 0s;
  -ms-transition: all .6s ease-in-out 0s;
  -o-transition: all .6s ease-in-out 0s;
  transition: all .6s ease-in-out 0s;
}

/* line 113, ../sass/_contact.scss */
.button-prev {
  background: url("../images/arrow_l.png") no-repeat;
  background-position: center center;
  background-size: 48px 48px;
  cursor: pointer;
  height: 48px;
  margin-top: -22px;
  position: absolute;
  top: 50%;
  width: 48px;
  left: 15px;
  z-index: 10;
}

/* line 126, ../sass/_contact.scss */
.button-next {
  background: url("../images/arrow_r.png") no-repeat;
  background-position: center center;
  background-size: 48px 48px;
  cursor: pointer;
  height: 48px;
  margin-top: -22px;
  position: absolute;
  top: 50%;
  width: 48px;
  right: 15px;
  z-index: 10;
}

@media (max-width: 1000px) and (max-height: 730px) {
  /* line 2, ../sass/_media.scss */
  .box .caption i {
    display: none;
  }

  /* line 6, ../sass/_media.scss */
  .service .box ul.items {
    margin-top: 10px;
  }
}
@media (max-width: 1000px) and (max-height: 650px) {
  /* line 12, ../sass/_media.scss */
  .service .box label {
    display: none;
  }
}
@media (max-width: 1000px) and (max-height: 560px) {
  /* line 18, ../sass/_media.scss */
  .service .box {
    margin-top: 0px;
  }
}
@media (max-width: 929px) and (max-height: 880px) {
  /* line 24, ../sass/_media.scss */
  .box .caption i {
    display: none;
  }

  /* line 28, ../sass/_media.scss */
  .service .box ul.items {
    margin-top: 10px;
  }
}
@media (max-width: 929px) and (max-height: 770px) {
  /* line 34, ../sass/_media.scss */
  .service .box label {
    display: none;
  }
}
@media (max-width: 929px) and (max-height: 680px) {
  /* line 40, ../sass/_media.scss */
  .service .box {
    margin-top: 0px;
  }
}
@media (max-width: 929px) and (max-height: 570px), (max-width: 620px) {
  /* line 46, ../sass/_media.scss */
  .service .box {
    margin-top: -55px;
  }

  /* line 50, ../sass/_media.scss */
  .service .box ul.items {
    margin-top: 30px;
  }

  /* line 54, ../sass/_media.scss */
  .service .box ul.items li {
    width: 173px;
    height: 52px;
    margin: 15px 10px 0px 10px;
  }

  /* line 60, ../sass/_media.scss */
  .service .box ul.items li i {
    margin-top: 0px;
  }

  /* line 64, ../sass/_media.scss */
  .service .box ul.items li.pc i {
    width: 46px;
    height: 35px;
    background: url(../images/words_mini.png) no-repeat -145px -217px;
  }

  /* line 70, ../sass/_media.scss */
  .service .box ul.items li.mobi i {
    width: 46px;
    height: 39px;
    background: url(../images/words_mini.png) no-repeat -245px -176px;
  }

  /* line 76, ../sass/_media.scss */
  .service .box ul.items li.sys i {
    width: 46px;
    height: 35px;
    background: url(../images/words_mini.png) no-repeat -249px -220px;
  }

  /* line 82, ../sass/_media.scss */
  .service .box ul.items li.app i {
    width: 46px;
    height: 41px;
    background: url(../images/words_mini.png) no-repeat -146px -264px;
  }

  /* line 88, ../sass/_media.scss */
  .service .box ul.items li.host i {
    width: 47px;
    height: 38px;
    background: url(../images/words_mini.png) no-repeat -253px -266px;
  }

  /* line 94, ../sass/_media.scss */
  .service .box ul.items li p {
    display: none;
  }

  /* line 98, ../sass/_media.scss */
  .service .box ul.items li strong {
    margin-left: 15px;
  }

  /* line 102, ../sass/_media.scss */
  .service .box ul.items li.pc:hover i {
    background: url(../images/words_mini.png) no-repeat -100px -217px;
  }

  /* line 106, ../sass/_media.scss */
  .service .box ul.items li.mobi:hover i {
    background: url(../images/words_mini.png) no-repeat -201px -176px;
  }

  /* line 110, ../sass/_media.scss */
  .service .box ul.items li.sys:hover i {
    background: url(../images/words_mini.png) no-repeat -196px -220px;
  }

  /* line 114, ../sass/_media.scss */
  .service .box ul.items li.app:hover i {
    background: url(../images/words_mini.png) no-repeat -100px -264px;
  }

  /* line 118, ../sass/_media.scss */
  .service .box ul.items li.host:hover i {
    background: url(../images/words_mini.png) no-repeat -201px -266px;
  }
}
@media (max-width: 929px) and (max-height: 460px) {
  /* line 124, ../sass/_media.scss */
  .service .box ul.items {
    margin-top: 15px;
  }

  /* line 128, ../sass/_media.scss */
  .service .box ul.items li {
    margin: 5px 10px 0px 10px;
  }
}
@media (max-width: 929px) and (max-height: 420px) {
  /* line 134, ../sass/_media.scss */
  .service .box ul.items {
    margin-top: 30px;
  }

  /* line 138, ../sass/_media.scss */
  .service .box {
    margin-top: 0px;
  }
}
@media (max-width: 929px) and (max-height: 720px) {
  /* line 144, ../sass/_media.scss */
  .service .box label {
    display: none;
  }
}
@media (max-width: 929px) and (max-height: 660px) {
  /* line 150, ../sass/_media.scss */
  .box .caption i {
    display: none;
  }

  /* line 154, ../sass/_media.scss */
  .service .box ul.items {
    margin-top: 30px;
  }
}
@media (max-width: 929px) and (max-height: 550px) {
  /* line 160, ../sass/_media.scss */
  .service .box ul.items {
    margin-top: 20px;
  }

  /* line 164, ../sass/_media.scss */
  .service .box ul.items li {
    margin: 5px 10px 0px 10px;
  }
}
@media (max-width: 929px) and (max-height: 460px) {
  /* line 170, ../sass/_media.scss */
  .service .box {
    margin-top: 0px;
  }
}
@media (max-width: 929px) and (max-height: 320px) {
  /* line 176, ../sass/_media.scss */
  .service .box ul.items {
    margin-top: 15px;
  }
}
@media (max-width: 929px) and (max-height: 310px), (max-width: 638px) and (max-height: 390px), (max-width: 425px) and (max-height: 500px) {
  /* line 182, ../sass/_media.scss */
  .service .box ul.items {
    margin-top: 40px;
  }

  /* line 186, ../sass/_media.scss */
  .service .box ul.items li {
    width: 120px;
    height: 40px;
    margin: 0px 10px 15px 10px;
    padding: 0px;
    background: none;
  }

  /* line 194, ../sass/_media.scss */
  .service .box ul.items li strong {
    position: relative;
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    z-index: 10;
  }

  /* line 205, ../sass/_media.scss */
  .service .box ul.items li:hover strong {
    color: #333;
  }

  /* line 209, ../sass/_media.scss */
  .service .box ul.items li i {
    position: absolute;
    display: block !important;
    width: 120px !important;
    height: 40px !important;
    background: White !important;
    border: 1px solid #bbb;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
}
@media (max-width: 929px) and (max-height: 260px) {
  /* line 222, ../sass/_media.scss */
  .service .box {
    margin-top: 8px;
  }

  /* line 226, ../sass/_media.scss */
  .service .box ul.items {
    margin-top: 18px;
  }
}
@media (max-width: 425px) and (max-height: 880px) {
  /* line 232, ../sass/_media.scss */
  .box .caption i {
    display: block;
  }

  /* line 236, ../sass/_media.scss */
  .service .box label {
    display: none;
  }
}
@media (max-width: 425px) and (max-height: 770px) {
  /* line 242, ../sass/_media.scss */
  .box .caption i {
    display: none;
  }

  /* line 246, ../sass/_media.scss */
  .service .box ul.items {
    margin-top: 20px;
  }

  /* line 250, ../sass/_media.scss */
  .arrowbox {
    display: block;
  }
}
@media (max-width: 425px) and (max-height: 670px) {
  /* line 256, ../sass/_media.scss */
  .service .box {
    margin-top: 0px;
  }
}
@media (max-width: 425px) and (max-height: 500px) {
  /* line 263, ../sass/_media.scss */
  .service .box ul.items {
    margin-top: 40px;
  }
}
@media (max-width: 390px) {
  /* line 269, ../sass/_media.scss */
  .box .caption i {
    display: none;
  }
}
@media (max-width: 950px) {
  /* line 278, ../sass/_media.scss */
  .contact .box {
    width: 470px;
  }

  /* line 282, ../sass/_media.scss */
  .contact .box .above .left {
    float: right;
    margin-left: 0px;
  }

  /* line 287, ../sass/_media.scss */
  .contact .box .above .right {
    display: none;
  }
}
@media (orientation: landscape) and (max-height: 520px) {
  /* line 293, ../sass/_media.scss */
  .contact .box {
    height: 150px;
  }

  /* line 297, ../sass/_media.scss */
  .contact .box .below {
    display: none;
  }
}
@media (orientation: landscape) and (max-height: 480px) and (max-width: 570px) {
  /* line 303, ../sass/_media.scss */
  .contact .box {
    width: 380px;
    height: 140px;
  }

  /* line 308, ../sass/_media.scss */
  .contact .box .above .wechat {
    margin-top: 5px;
    width: 100px;
  }

  /* line 313, ../sass/_media.scss */
  .contact .box .above .left p {
    margin-top: 0px;
  }
}
@media (orientation: portrait) and (max-width: 550px) {
  /* line 319, ../sass/_media.scss */
  .contact .box {
    width: 430px;
    height: 490px;
  }

  /* line 324, ../sass/_media.scss */
  .contact .box .above .wechat {
    position: absolute;
    float: none;
    margin: 0px;
    top: 200px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
  }

  /* line 334, ../sass/_media.scss */
  .contact .box .above .left {
    position: absolute;
    float: none;
    margin: 0px;
    top: 0px;
    left: 50%;
    margin-left: -125px;
  }

  /* line 343, ../sass/_media.scss */
  .contact .box .below {
    margin-top: 150px;
  }
}
@media (orientation: portrait) and (max-width: 550px) and (max-height: 650px), (orientation: portrait) and (max-width: 470px) {
  /* line 349, ../sass/_media.scss */
  .contact .box {
    width: 260px;
    height: 350px;
  }

  /* line 354, ../sass/_media.scss */
  .contact .box .above .wechat {
    width: 150px;
    margin-left: -75px;
  }

  /* line 359, ../sass/_media.scss */
  .contact .box .below {
    display: none;
  }
}
@media (orientation: portrait) and (max-height: 450px) {
  /* line 365, ../sass/_media.scss */
  .contact .box {
    height: 160px;
  }

  /* line 369, ../sass/_media.scss */
  .contact .box .above .wechat {
    display: none;
  }
}
@media (max-width: 700px), (max-height: 600px) {
  /* line 377, ../sass/_media.scss */
  .dock {
    display: none;
  }
}
/* line 187, ../sass/index.scss */
#menu {
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 3;
}
/* line 190, ../sass/index.scss */
#menu img {
  width: 100%;
}

/* line 196, ../sass/index.scss */
.nav-collapse {
  background: #fafafa;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  color: #757575;
  padding: 16px 0;
  position: absolute;
  top: 32px;
  right: 24px;
  transform: scale(0);
  transition: transform 0.2s ease 0s;
  z-index: 96;
  list-style: none;
  margin: 0;
  transform-origin: top right;
}
/* line 211, ../sass/index.scss */
.nav-collapse.show {
  transform: scale(1);
}
/* line 214, ../sass/index.scss */
.nav-collapse li {
  line-height: 16px;
  margin: 8px 0;
  min-height: 32px;
  padding: 0 16px;
}
/* line 219, ../sass/index.scss */
.nav-collapse li:hover {
  background: #eee;
}
/* line 222, ../sass/index.scss */
.nav-collapse li a {
  color: inherit;
  height: 32px;
  line-height: 32px;
  padding: 0;
  text-decoration: none;
  white-space: nowrap;
}

/* line 233, ../sass/index.scss */
.swiper-pagination-bullet-active {
  background: #2fd0b5 !important;
}
