@charset "UTF-8";
.service {
  background: url("../images/service_bg.jpg") no-repeat 50%;
  background-size: cover;
}
.service .box {
  position: relative;
  padding-top: pxToRem(150px);
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -ms-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
  margin: 0 !important;
  .caption{
    padding-bottom: pxToRem(30px);

  }
}

.caption {
  width: 100%;
  text-align: center;
  -moz-opacity: 0;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out 0s;
  -moz-transition: all .5s ease-in-out 0s;
  -ms-transition: all .5s ease-in-out 0s;
  -o-transition: all .5s ease-in-out 0s;
  transition: all .5s ease-in-out 0s;
}

.service.active .box .caption {
  -moz-opacity: 1;
  opacity: 1;
}

.caption i {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 320px;
  height: 31px;
  background: url(../images/words.png) no-repeat 0px -294px;
}

.caption span {
  font-size: 24px;
  letter-spacing: 3px;
}

ul.items {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

ul.items li {
  width: 200px;
  height: 300px;
  margin: 0 8px;
  background: url(../images/bg_green.png) no-repeat 0px 400px;
  overflow: hidden;
}

ul.items li i {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 43px;
  height: 69px;
}

ul.items li.pc i {
  width: 69px;
  background: url(../images/words.png) no-repeat -245px -357px;
}

ul.items li.mobi i {
  width: 64px;
  background: url(../images/words.png) no-repeat -416px -291px;
}

ul.items li.sys i {
  width: 76px;
  background: url(../images/words.png) no-repeat -415px -362px;
}

ul.items li.app i {
  width: 74px;
  background: url(../images/words.png) no-repeat -244px -439px;
}

ul.items li.host i {
  width: 79px;
  background: url(../images/words.png) no-repeat -420px -439px;
}

ul.items li u {
  display: block;
  position: absolute;
  width: 156px;
  height: 156px;
  margin-left: 22px;
  background: url(../images/words.png) no-repeat 0px -363px;
  -webkit-transition: all .5s ease-in-out 0s;
  -moz-transition: all .5s ease-in-out 0s;
  -ms-transition: all .5s ease-in-out 0s;
  -o-transition: all .5s ease-in-out 0s;
  transition: all .5s ease-in-out 0s;
}

.service .box ul.items li u.cl {
  clip: rect(0px,156px,-10px,78px);
}

.service.active .box ul.items li u.cl {
  clip: rect(0px,156px,156px,78px);
}

.service .box ul.items li u.cr {
  clip: rect(156px,78px,156px,0px);
}

.service.active .box ul.items li u.cr {
  clip: rect(0px,78px,156px,0px);
}

.service .box ul.items li strong {
  display: block;
  margin-top: 70px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.service .box ul.items li p {
  position: relative;
  top: 200px;
  color: White;
  font-family: Arial,"宋体";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.service .box ul.items li:hover {
  background-position: 0px 0px;
  -webkit-transition: all .5s ease-in-out .3s;
  -moz-transition: all .5s ease-in-out .3s;
  -ms-transition: all .5s ease-in-out .3s;
  -o-transition: all .5s ease-in-out .3s;
  transition: all .5s ease-in-out .3s;
}

.service .box ul.items li:hover i {
  -webkit-transition: all .5s ease-in-out .4s;
  -moz-transition: all .5s ease-in-out .4s;
  -ms-transition: all .5s ease-in-out .4s;
  -o-transition: all .5s ease-in-out .4s;
  transition: all .5s ease-in-out .4s;
}

.service .box ul.items li.pc:hover i {
  background: url(../images/words.png) no-repeat -168px -357px;
}

.service .box ul.items li.mobi:hover i {
  background: url(../images/words.png) no-repeat -337px -291px;
}

.service .box ul.items li.sys:hover i {
  background: url(../images/words.png) no-repeat -327px -362px;
}

.service .box ul.items li.app:hover i {
  background: url(../images/words.png) no-repeat -164px -439px;
}

.service .box ul.items li.host:hover i {
  background: url(../images/words.png) no-repeat -335px -439px;
}

.service .box ul.items li:hover u.cl {
  clip: rect(0px,156px,-10px,78px);
}

.service .box ul.items li:hover u.cr {
  clip: rect(156px,78px,156px,0px);
}

.service .box ul.items li:hover strong {
  color: White;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -ms-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.service .box ul.items li:hover p {
  top: 20px;
  -webkit-transition: all .3s ease-in-out .5s;
  -moz-transition: all .3s ease-in-out .5s;
  -ms-transition: all .3s ease-in-out .5s;
  -o-transition: all .3s ease-in-out .5s;
  transition: all .3s ease-in-out .5s;
}

.service .box label {
  display: block;
  margin: 0 auto;
  margin-top: -40px;
  width: 297px;
  height: 21px;
  background: url(../images/words.png) no-repeat 0px -333px;
}


@media (min-width:1921px),(min-height:1201px) {
  .service {
    -moz-background-size: cover;
    background-size: cover;
  }
}

@media (min-height:1201px) {
  .service .box {
    margin-top: -70px;
  }
}

@media (min-width:1151px) and (max-height:700px) {
   .box .caption i {
    display: none;
  }

  .service .box ul.items {
    margin-top: 50px;
  }
}

@media (min-width:1151px) and (max-height:630px) {
  .service .box {
    margin-top: 0px;
  }
}

@media (max-width:1150px) {
  .service .box ul.items {
    margin-top: 40px;
  }

  .service .box ul.items li {
    width: 170px;
    height: 270px;
    margin: 0px;
  }

  .service .box ul.items li u {
    background: none;
    display: none;
  }

  .service .box ul.items li strong {
    margin-top: 40px;
  }

  .service .box ul.items li:hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
}

@media (max-width:1150px) and (max-height:680px) {
 .box .caption i {
    display: none;
  }

  .service .box ul.items {
    margin-top: 10px;
  }
}

@media (max-width:1150px) and (max-height:580px) {
  .service .box {
    margin-top: 0px;
  }
}

@media (max-width:1000px) {
  .service .box {
    margin-top: -55px;
  }

  .service .box ul.items li {
    width: 270px;
    height: 80px;
    margin: 30px 0 0 21px;
    padding: 10px 0 5px 15px;
  }

  .service .box ul.items li i {
    margin-top: 0px;
    float: left;
  }

  .service .box ul.items li strong {
    float: left;
    margin: 5px 0 0 20px;
  }

  .service .box ul.items li p {
    float: left;
    margin: 5px 0 0 20px;
    color: #888;
    text-align: inherit;
  }

  .service .box ul.items li:hover p {
    margin: 5px 0 0 20px;
    color: White;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
  }

  .service .box label {
    margin-top: 50px;
  }
}


