.case{
  .box{
    height: 100%;
    span{
      color: #ffff00;
      opacity:1 !important;
    }
  }

}
.swiper-case{

   .case-item{
     width:260px;
     height:260px;
     margin: 0 auto;
   }

  .swiper-slide{
    height: 100%;
    position: relative;
    color: #000000;
  }

 }