.case{
  background: url("../images/case_bg.jpg") no-repeat 50%;
  background-size: cover;
  .box{
    height: 100%;
    padding-top: pxToRem(150px);
    .caption{
      margin-bottom:pxToRem(50px) ;
      i {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 129px;
        height: 37px;
        background: url(../images/words.png) no-repeat 0px -528px;
      }
    }

  }

}
.swiper-case{
    position: relative;
    height: 260px;

   .case-item{
     width:260px;
     height:260px;
     margin: 0 auto;
     position: absolute;
     left: 50%;
     margin-left:-130px;
   }

  .swiper-slide{
    height: 260px;
    position: relative;
    color: #000000;
    background: none;
  }

 }




