@media (max-width:1000px) and (max-height:730px) {
  .box .caption i {
    display: none;
  }

  .service .box ul.items {
    margin-top: 10px;
  }
}

@media (max-width:1000px) and (max-height:650px) {
  .service .box label {
    display: none;
  }
}

@media (max-width:1000px) and (max-height:560px) {
  .service .box {
    margin-top: 0px;
  }
}

@media (max-width:929px) and (max-height:880px) {
  .box .caption i {
    display: none;
  }

  .service .box ul.items {
    margin-top: 10px;
  }
}

@media (max-width:929px) and (max-height:770px) {
  .service .box label {
    display: none;
  }
}

@media (max-width:929px) and (max-height:680px) {
  .service .box {
    margin-top: 0px;
  }
}

@media (max-width:929px) and (max-height:570px),(max-width:620px) {
  .service .box {
    margin-top: -55px;
  }

  .service .box ul.items {
    margin-top: 30px;
  }

  .service .box ul.items li {
    width: 173px;
    height: 52px;
    margin: 15px 10px 0px 10px;
  }

  .service .box ul.items li i {
    margin-top: 0px;
  }

  .service .box ul.items li.pc i {
    width: 46px;
    height: 35px;
    background: url(../images/words_mini.png) no-repeat -145px -217px;
  }

  .service .box ul.items li.mobi i {
    width: 46px;
    height: 39px;
    background: url(../images/words_mini.png) no-repeat -245px -176px;
  }

  .service .box ul.items li.sys i {
    width: 46px;
    height: 35px;
    background: url(../images/words_mini.png) no-repeat -249px -220px;
  }

  .service .box ul.items li.app i {
    width: 46px;
    height: 41px;
    background: url(../images/words_mini.png) no-repeat -146px -264px;
  }

  .service .box ul.items li.host i {
    width: 47px;
    height: 38px;
    background: url(../images/words_mini.png) no-repeat -253px -266px;
  }

  .service .box ul.items li p {
    display: none;
  }

  .service .box ul.items li strong {
    margin-left: 15px;
  }

  .service .box ul.items li.pc:hover i {
    background: url(../images/words_mini.png) no-repeat -100px -217px;
  }

  .service .box ul.items li.mobi:hover i {
    background: url(../images/words_mini.png) no-repeat -201px -176px;
  }

  .service .box ul.items li.sys:hover i {
    background: url(../images/words_mini.png) no-repeat -196px -220px;
  }

  .service .box ul.items li.app:hover i {
    background: url(../images/words_mini.png) no-repeat -100px -264px;
  }

  .service .box ul.items li.host:hover i {
    background: url(../images/words_mini.png) no-repeat -201px -266px;
  }
}

@media (max-width:929px) and (max-height:460px) {
  .service .box ul.items {
    margin-top: 15px;
  }

  .service .box ul.items li {
    margin: 5px 10px 0px 10px;
  }
}

@media (max-width:929px) and (max-height:420px) {
  .service .box ul.items {
    margin-top: 30px;
  }

  .service .box {
    margin-top: 0px;
  }
}

@media (max-width:929px) and (max-height:720px) {
  .service .box label {
    display: none;
  }
}

@media (max-width:929px) and (max-height:660px) {
  .box .caption i {
    display: none;
  }

  .service .box ul.items {
    margin-top: 30px;
  }
}

@media (max-width:929px) and (max-height:550px) {
  .service .box ul.items {
    margin-top: 20px;
  }

  .service .box ul.items li {
    margin: 5px 10px 0px 10px;
  }
}

@media (max-width:929px) and (max-height:460px) {
  .service .box {
    margin-top: 0px;
  }
}

@media (max-width:929px) and (max-height:320px) {
  .service .box ul.items {
    margin-top: 15px;
  }
}

@media (max-width:929px) and (max-height:310px),(max-width:638px) and (max-height:390px),(max-width:425px) and (max-height:500px) {
  .service .box ul.items {
    margin-top: 40px;
  }

  .service .box ul.items li {
    width: 120px;
    height: 40px;
    margin: 0px 10px 15px 10px;
    padding: 0px;
    background: none;
  }

  .service .box ul.items li strong {
    position: relative;
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    z-index: 10;
  }

  .service .box ul.items li:hover strong {
    color: #333;
  }

  .service .box ul.items li i {
    position: absolute;
    display: block !important;
    width: 120px !important;
    height: 40px !important;
    background: White !important;
    border: 1px solid #bbb;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
}

@media (max-width:929px) and (max-height:260px) {
  .service .box {
    margin-top: 8px;
  }

  .service .box ul.items {
    margin-top: 18px;
  }
}

@media (max-width:425px) and (max-height:880px) {
  .box .caption i {
    display: block;
  }

  .service .box label {
    display: none;
  }
}

@media (max-width:425px) and (max-height:770px) {
  .box .caption i {
    display: none;
  }

  .service .box ul.items {
    margin-top: 20px;
  }
}

@media (max-width:425px) and (max-height:670px) {
  .service .box {
    margin-top: 0px;
  }
}

@media (max-width:425px) and (max-height:500px) {
  .service .box ul.items {
    margin-top: 40px;
  }
}

@media (max-width:390px) {
  .box .caption i {
    display: none;
  }
}

@media (max-width: 500px) and (orientation: portrait){
  .case .box .caption i {
    display: block;
  }
  .items .box .caption i {
    display: block;
  }
}